@import 'variables';
@import 'fn';
//fixes
.fix-clear{overflow: hidden;}
.fix-bb{box-sizing: border-box;}
.wrap{max-width: $screen-lg; width: 96%; margin: 0 auto;}


//colors
@include mx_loop($clr, clr, color);

//backgrounds
@include mx_loop($clr, bg, background-color);

//borders
.brd-0{border-width: 0;}
.brd-t-0{border-top-width: 0 !important;}
.brd-r-0{border-right-width: 0 !important;}
.brd-b-0{border-bottom-width: 0 !important;}
.brd-l-0{border-left-width: 0 !important;}
@include mx_loop($clr, brd, border, '', class, $brd-default);
@include mx_loop($clr, brd-t, border-top, '', class, $brd-default);
@include mx_loop($clr, brd-b, border-bottom, '', class, $brd-default);
@include mx-loop($clr, brd-l, border-left, '', class, $brd-default);
@include mx-loop($clr, brd-r, border-right, '', class, $brd-default);
@include mx-loop($clr, brd-rl, (border-right, border-left), '', class, $brd-default);

//fonts
@include mx_loop($fnt-size, fnt, font-size, '%');

.fnt-main{font-family: $font-main, Helvetica, Arial, sans-serif;}

.fnt-100{font-weight: 100;}
.fnt-200{font-weight: 200;}
.fnt-300{font-weight: 300;}
.fnt-slim{font-weight: 300;}
.fnt-400{font-weight: 400;}
.fnt-norm{font-weight: normal;}
.fnt-500{font-weight: 500;}
.fnt-mid{font-weight: 500;}
.fnt-600{font-weight: 600;}
.fnt-bold{font-weight: bold;}


//texts
.txt-center{text-align: center;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}

.txt-up{text-transform: uppercase;}
.txt-low{text-transform: lowercase;}
.txt-cap{text-transform: capitalize;}
.txt-nowrap{white-space: nowrap;}

.txt-under{text-decoration: underline !important;}
.txt-deco-none{text-decoration: none;}
.list-none{list-style-type: none;}

//image backgrounds
.bg-cover{background-size: cover;}
.bg-norepeat{background-repeat: no-repeat;}
.bg-center{background-position: center;}

//width, height
.w-auto{width: auto;}
.w-0{width:0;}
.h-0{height:0;}
.h-100{height:100%;}
.h-min-100{height:100%;}

@include mx_loop($w-prc, w, width, '%');
@include mx_loop($w-px, ('w', 'px'), width, 'px');
@include mx_loop($w-px, ('w-min', 'px'), min-width, 'px');

@include mx_loop($w-px, ('h', 'px'), height, 'px');

.h-auto{height: auto; min-height: auto;}
.h-200{height: 200px;}

//grid
.col-1{width: 8.33333%;}
.col-2{width: 16.66667%;}
.col-3{width: 25%;}
.col-4{width: 33.33333%;}
.col-5{width: 41.66667%;}
.col-6{width: 50%;}
.col-7{width: 58.33333%;}
.col-8{width: 66.66667%;}
.col-9{width: 75%;}
.col-10{width: 83.33333%;}
.col-11{width: 91.66667%;}
.col-12{width: 100%;}

@media only screen and (max-width: $screen-md) {
    .md-txt-center{text-align: center;}
    .md-txt-left{text-align: left;}
    .md-txt-right{text-align: right;}
    .md-col-12{width: 100%;}
    .md-col-10{width: 83.33333%;}
    .md-col-2{width: 16.66667%;}
    .md-dsp-block{display: block !important;}
    .md-dsp-none{display: none !important;}
    .md-dsp-inline{display: inline-block !important;}
    .md-pos-relative{position: relative !important;}
    .md-mrg-0{margin: 0 !important;}
    .md-pdg-0{padding: 0 !important;}
    .md-mrg-1{margin: 1px;}
    .md-mrg-t-1{margin: 1px !important;}
    .md-pdg-r-50px{padding-right: 50px !important;}
    .md-pdg-tb-10em{padding-top: em(10) !important; padding-bottom: em(10) !important;}
    .md-mrg-tb-10em{margin-top: em(10) !important; margin-bottom: em(10) !important;}
    .md-tb-fixed{table-layout: fixed;}
    .md-flt-none{float: none !important;}
    .md-h-auto{height: auto !important;}
    .md-brd-0{border-width: 0 !important;}
    .md-brd-t-greyd1{border-top: 1px solid darken($clr-grey, $shade1) !important;}
    .md-brd-b-greyd1{border-bottom: 1px solid darken($clr-grey, $shade1) !important;}
    .md-w-100{width: 100% !important;}
    .md-w-auto{
        width: auto !important;
        min-width: inherit !important;
    }
    .md-h-auto{height: auto !important;}
}

@media only screen and (max-width: $screen-sm) {
    .sm-txt-center{text-align: center;}
    .sm-col-12{width: 100%;}
    .sm-dsp-block{display: block !important;}
    .sm-dsp-none{display: none !important;}
    .sm-w-auto{
        width: auto !important;
        min-width: auto !important;
    }
}



//displays
.dsp-inline{display: inline-block;}
.dsp-block{display: block;}
.dsp-none{display: none;}

//positions
.pos-absolute{position: absolute !important;}
.pos-relative{position: relative;}
.pos-fixed{position: fixed;}

.right-0{right: 0;}
.top-0{top: 0;}
.bot-0{bottom: 0;}
.left-0{left: 0;}

.z-10{z-index: 10;}
.z-negative{z-index: -1;}

//table
.tb{display: table;}
.tr{display: table-row;}
.td{display: table-cell; vertical-align: middle;}

.valign-mid{vertical-align: middle;}
.valign-top{vertical-align: top;}
.valign-bot{vertical-align: bottom;}

.tb-fixed{table-layout: fixed;}

//floating
.flt-left{float: left;}
.flt-right{float: right;}
.flt-none{float: none;}

//line
.line-norm{line-height: normal;}
.line-1{line-height: 1;}
.line-1-1{line-height: 1.1;}
.line-1-2{line-height: 1.2;}

.line-10px{line-height: 10px;}
.line-20px{line-height: 20px;}
.line-25px{line-height: 25px;}
.line-30px{line-height: 30px;}
.line-40px{line-height: 40px;}
.line-50px{line-height: 50px;}

.over-auto{overflow: auto;}
.over-hide{overflow: hidden;}

.op-0{opacity: 0;}
.op-8{opacity: 0.8;}
.op-1{opacity: 1;}

//buttons
.bt{
    &.over-size{
        width: auto !important;
        height: auto !important;
        min-height: inherit !important;
    }
    &.over-fnt{
        font-size: 100% !important;
        font-weight: 400 !important;
    }
    @extend .clr-black;
    @extend .txt-up;
    @extend .fnt-mid;
    @extend .pdg-3;
    @extend .pdg-tb-5em;
    @extend .dsp-inline;
    @extend .txt-center;
    @extend .md-dsp-block;
    &.brd-yellow:hover{
        background: lighten($clr-yellow, $shade1);
    }
}

//shadows

.boxshadow-10{box-shadow: 0px 0px 10px darken($clr-grey, $shade2);}


//padding, margin
.mrg-auto{margin: 0 auto;}
.pdg-b-0{padding-bottom: 0;}
.pdg-t-0{padding-top: 0;}
//paddings prc
@include mx_loop($prc, pdg, padding, '%');
@include mx_loop($prc, pdg-r, padding-right, '%');
@include mx_loop($prc, pdg-l, padding-left, '%');
@include mx_loop($prc, pdg-rl, (padding-right, padding-left), '%');
//padding em
@include mx_loop($em, ('pdg', 'em'), padding, 'em');
@include mx_loop($em, ('pdg-t', 'em'), padding-top, 'em');
@include mx_loop($em, ('pdg-r', 'em'), padding-right, 'em');
@include mx_loop($em, ('pdg-b', 'em'), padding-bottom, 'em');
@include mx_loop($em, ('pdg-l', 'em'), padding-left, 'em');
@include mx_loop($em, ('pdg-tb', 'em'), (padding-top, padding-bottom), 'em');
@include mx_loop($em, ('pdg-rl', 'em'), (padding-right, padding-left), 'em');
//padding px
@include mx_loop($em, ('pdg', 'px'), padding, 'px');
@include mx_loop($em, ('pdg-tb', 'px'), (padding-top, padding-bottom), 'px');
@include mx_loop($em, ('pdg-rl', 'px'), (padding-right, padding-left), 'px');

//margins proc
@include mx_loop($prc, mrg, margin, '%');
@include mx_loop($prc, mrg-t, margin-top, '%');
@include mx_loop($prc, mrg-r, margin-right, '%');
@include mx_loop($prc, mrg-b, margin-bottom, '%');
@include mx_loop($prc, mrg-l, margin-left, '%');
@include mx_loop($em, mrg-rl, (margin-right, margin-left), '%');
//margins em
@include mx_loop($em, ('mrg', 'em'), margin, 'em');
@include mx_loop($em, ('mrg-t' ,'em'), margin-top, 'em');
@include mx_loop($em, ('mrg-r', 'em'), margin-right, 'em');
@include mx_loop($em, ('mrg-b', 'em'), margin-bottom, 'em');
@include mx_loop($em, ('mrg-l', 'em'), margin-left, 'em');
@include mx_loop($em, ('mrg-tb', 'em'), (margin-top, margin-bottom), 'em');
@include mx_loop($em, ('mrg-rl', 'em'), (margin-right, margin-left), 'em');