@function px($number) {
  @return $number * 1px;
}

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

@mixin mx_set($val, $nm, $prp : color, $unit : '', $type : class, $prpAdd : ''){
  @if $type == class{
    $type : '.';
  } @else if $type == hold{
    $type : '%';
  } @else if $type == id{
    $type : '#';
  }
  
  @if(type-of($nm) == list){
    $nm : #{$type}#{nth($nm, 1)}-#{$val}#{nth($nm, 2)}
  } @else {
    $nm : #{$type}#{$nm}-#{nth($val, 1)}
  }
  
  @if(type-of($val) == list) {
    $val : nth($val, 2);
  }
  
  @if($unit == 'em'){
    $val : #{em($val)}#{$prpAdd};
  } @else {
      $val : #{$val}#{$unit}#{$prpAdd};
  }
  
  #{$nm}{
    @if(type-of($prp) == list){
        @each $prop in $prp{
            #{$prop} : $val;
        }
    } @else {
        #{$prp} : $val;
    }
  }
  
}

@mixin mx_loop($arr, $n, $prp : color, $unit : '', $type : class, $prpAdd : ''){
  @each $val in $arr {
    @include mx_set($val, $n, $prp, $unit, $type, $prpAdd);
  }
}