// Screens
$screen-sm: 400px;
$screen-md: 768px;
$screen-lg: 1280px;

//default values
$brd-default: ' solid 1px';
$font-main: 'aleolight';

$base-font-size: 15;

//padding margin sizes
$prc : (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$em : (1, 5, 10, 15, 20, 25, 30, 35, 40, 50, 60);
$px : (10, 20, 30, 40, 50);

$w-prc : (100, 98, 96, 94, 92, 90);
$w-px : (20, 40, 60, 80, 100, 150, 200, 250, 300, 400);

//font sizes
$fnt-size : (
    xs: 60,
    sm: 80,
    md: 100,
    lg: 125,
    xl: 150,
    xxl: 175,
    xxxl: 200
);
 
// Colours
$shade1: 10;
$shade2: 20;
$shade3: 30;


$clr-white: #ffffff;
$clr-black: #000000;
$clr-grey: #F2F2F2;

$clr-yellow: #ffcb05;
$clr-green: #70ad39;
$clr-blue: #4581d2;
$clr-red: #d42b2b;


$clr : (
    white: $clr-white,
    black: $clr-black,
    grey : $clr-grey,
    
    yellow: $clr-yellow,
    green:  $clr-green,
    blue:   $clr-blue,
    red:    $clr-red,
    
    blackl1: lighten($clr-black, $shade1),
    blackl2: lighten($clr-black, $shade2),
    blackl3: lighten($clr-black, $shade3),
    
    greyd1: darken($clr-grey, $shade1),
    greyd2: darken($clr-grey, $shade2),
    greyd3: darken($clr-grey, $shade3),
    
    yellowl1: lighten($clr-yellow, $shade1),
    yellowl2: lighten($clr-yellow, $shade2),
    yellowl3: lighten($clr-yellow, $shade3),
    yellowd1: darken($clr-yellow, $shade1),
    yellowd2: darken($clr-yellow, $shade2),
    yellowd3: darken($clr-yellow, $shade3),
    
    greenl1: lighten($clr-green, $shade1),
    greenl2: lighten($clr-green, $shade2),
    greenl3: lighten($clr-green, $shade3),
    greend1: darken($clr-green, $shade1),
    greend2: darken($clr-green, $shade2),
    greend3: darken($clr-green, $shade3),
    
    bluel1: lighten($clr-blue, $shade1),
    bluel2: lighten($clr-blue, $shade2), 
    bluel3: lighten($clr-blue, $shade3), 
    blued1: darken($clr-blue, $shade1),
    blued2: darken($clr-blue, $shade2),
    blued3: darken($clr-blue, $shade3),
    
    redl1: lighten($clr-red, $shade1),
    redl2: lighten($clr-red, $shade2),
    redl3: lighten($clr-red, $shade3),
    redd1: darken($clr-red, $shade1),
    redd2: darken($clr-red, $shade2),
    redd3: darken($clr-red, $shade3),
);