@import 'transitions';
@import 'shared/variables';
@import 'shared/fn';
@import 'shared/classes';

@import url('http://fonts.googleapis.com/css?family=Abel');

body {
  font-family: 'Abel', Arial;
  font-size: px($base-font-size);
  margin: 0px;
  padding: 0px;
  background-image:url('http://fbf.herokuapp.com/rj/img/bg.jpg');
}

.album{
	@extend .clr-blackl3;
	&:hover{
		@extend .bg-white;
		@extend .clr-black;
		.bg-redl2{@extend .bg-redl1;}
		.clr-redl2{@extend .clr-redl1;}
	}
}