$duration: 0.25s;

.item-enter {
  opacity: 0.01;
  transition: $duration;
}

.item-enter.item-enter-active {
  opacity: 1;
}

.item-leave {
  opacity: 1;
  transition: $duration;
}

.item-leave.item-leave-active {
  opacity: 0.01;
}

.item-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.item-appear.item-appear-active {
  opacity: 1;
}